.container-games {

  h2 {
    font-family: Kopenhagen;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 93px;
    color: $color-violet;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  svg {
    fill: $color-black;
    transition: opacity .2s ease-in-out;
  }
}
.store-link {
  display: flex;
  align-items: center;
  span {
    font-family: Co Headline;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 110%;
    margin-left: 11px;
    transition: opacity .2s ease-in-out;
  }
}
.store-link:hover {
  svg {
    opacity: .6;
    //fill: $color-green;
  }
  span {
    opacity: .6;
    //color: $color-green;
  }
}

.wrapper-top {
  a {
    text-decoration: none;
    color: $color-black;
  }
  span {
    font-family: 'Co Headline Corp';
  }
  &-img {
    width: 100%;
    height: 481px;
    object-fit: cover;
    border-radius: 12px;
    @media (max-width: 640px) {
      width: 100%;
      height: 430px;
    }
    @media (max-width: 640px) {
      display: none;
      height: 304px;
    }
  }
  &-img-m {
    display: none;
    width: 100%;
    height: 481px;
    object-fit: cover;
    border-radius: 12px;
    @media (max-width: 640px) {
      width: 100%;
      height: 430px;
    }
    @media (max-width: 640px) {
      display: block;
    }
    @media (max-width: 440px) {
      height: 304px;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 15px 0;
  }
}
.swiper-slide {

}
.wrapper-bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 50px;
  @media (max-width: 768px) {
    justify-content: center;
  }
}
.bottom-content {
  margin-left: 20px;

  h3 {
    font-family: 'Co Headline Corp';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 26px;
    color: $color-black;
    margin-bottom: 10px;
  }
}
.bottom-content-desc {
  display: flex;
  align-items: center;
  span {
    color: $color-black;
    margin-left: 5px;
  }
}
.bottom-img {
  width: 82px;
  height: 82px;
  border-radius: 12px;
  background-color: #cccccc;
}
