#hero:before {
  display: block;
  content: "";
  height: 94px;
}
.container-hero {
  background: linear-gradient(96.14deg, #684DA1 0.61%, #7449CF 99.1%) !important;
  position: relative;
  overflow: hidden;
}
.lottie {
  width: 830px;
  height: 830px;

  @media (max-width: 1618px) {
    width: 730px;
    height: 730px;
  }

  @media (max-width: 1418px) {
    width: 730px;
    height: 730px;
  }
  @media (max-width: 991px) {
    width: 630px;
    height: 630px;
  }
}
.hero {
  &__content {
    height: 650px;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 30px 0;
    }
    @media (max-width: 596px) {

    }
    &-right {
      position: absolute;
      top: 50%;
      margin-top: -325px;
      right: 0;
      transform: translate(-39px, -70px);
      pointer-events: none;


      @media (max-width: 1410px) {
        transform: translate(70px, -15px);
      }
      @media (max-width: 991px) {
        transform: translate(107px, 60px);
      }
      @media (max-width: 768px) {
        position: unset;
        transform: translate(0px, 118px);
      }
      @media (max-width: 350px) {
        transform: translate(0px, 123px);
      }
    }
    &-title {
      font-style: normal;
      font-weight: normal;
      font-size: 92px !important;
      line-height: 1.3;
      color: $color-white;
      margin-bottom: 20px;
      @media (max-width: 1160px){
        max-width: 620px;
      }
      @media (max-width: 768px) {
        font-size: 60px !important;
        line-height: 66px;
        text-align: center;
      }
      span {
        color: $color-green;
      }
    }
    &-subtitle {
      font-family: 'Co Headline Corp' !important;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 1.3;
      color: $color-white;
      margin-bottom: 35px;
      max-width: 630px;
      @media (max-width: 1200px) {
        font-size: 22px;
      }
      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 139.5%;
        text-align: center;
      }

    }
  }
}

.roll {
  padding: 50px 0;
  overflow: hidden;
  white-space: nowrap;
  height: 153px;
  font-family: 'Kopenhagen';
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 50px;
  color: $color-white;
  position: absolute;
  left: 0;
  right: 0;
  top: 644px;

  &__container {
    z-index: 12;
    transform: rotate(1.35deg);
    background-color: $color-green;
    overflow: hidden;
    position: absolute;
    left: -5px;
    right: -5px;
    &_back {
      position: absolute;
      left: -5px;
      right: -5px;
      z-index: 10;
      overflow: hidden;
      transform: rotate(-3.05deg);
      background-color: #CEEAC4;

      *:not(:last-child){
        margin-right: 25px;
      }
      *:nth-child(2n+1){
        opacity: .55;
      }
    }

    *:not(:last-child){
      margin-right: 25px;
    }
    *:nth-child(even){
      opacity: .55;
    }
  }
}